body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 36px;
    color: darkslategrey;
}
h2 {
    color: rgb(124, 113, 113);
}
ul, ol {
    background-color: beige;
}
img {
    width: 400px;
    height: auto;
}